---
---

@import "{{ site.theme }}";
body {
  font-family: Calibri, Cambria, Georgia, serif;
  font-color: DarkOliveGreen; /*Granite gray*/
  background-color: DimGray; /*Sagebrush green*/
  a:link { 
    color: DarkOliveGreen; 
    text-decoration: underline;
    background-color: DarkGray;
  }
  a:visited {
    color: DarkOliveGreen;
    text-decoration: underline;
    background-color: DimGray;
  }
}
