---
---

@import "{{ site.theme }}";
body {
  font-family: Calibri, Cambria, Georgia, serif;
  font-color: Black; 
  font-size: 1.25em;
  background-color: Wheat;
; 
  a:link { 
    color: Black; 
    text-decoration: underline;
    background-color: DarkGray;
  }
  a:visited {
    color: Black;
    text-decoration: underline;
    background-color: LightSlateGray;
  }
}
