---
---

@import "{{ site.theme }}";
body {
  font-family: Calibri, Cambria, Georgia, serif;
  font-color: Black; /*Granite gray*/
  background-color: White; /*Sagebrush green*/
  a:link { 
    color: Black; 
    text-decoration: underline;
    background-color: DarkGray;
  }
  a:visited {
    color: Black;
    text-decoration: underline;
    background-color: White;
  }
}
